html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.app-container {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
}

.app-header {
  width: 100%;       
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F5FFFA;
  padding: 10px 20px;
  height: 70px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  box-sizing: border-box;
}

.header-left .logo-img {
  height: 40px;
  width: 70px;
  cursor: pointer;
}

.header-center .header-title {
  font-size: 24px;
  font-weight: bold;
  color: #003566;
  text-align: center;
}

.header-right {
  font-weight: bold;
  color: #003566;
}

.header-icon {
  color: #003566;
  font-size: 26px;
  margin: 8px;
  cursor: pointer;
} 

.logout-icon {
  color: #9e3b3b;
  font-size: 26px;
  margin: 8px;
  cursor: pointer;
}

.settings-popup {
  position: absolute;
  top: 75px;
  right: 10px;
  width: 400px;
  background: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0 4px 16px rgba(0,0,0,0.2);
  z-index: 200;
  max-height: 550px;
}

.popup-container {
    flex: 1;
    border-radius: 12px;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.settings-icon {
    font-size: 26px;
    width: 22px;
    height: 22px;
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer;
    color: #003566;
}

.delete-icon {
    color: #9e3b3b;
}

.popup-subLabel {
    color: #333333;
    font-size: 13px;
    margin-top: 10px;
}

.popup-radio-group {
    display: flex;
    gap: 40px;
    justify-content: center;
    padding: 10px;
    accent-color: #facc15;
}

.popup-radio-button-label {
    display: flex;
    font-size: 13px;
    color: #333333;
    font-weight: lighter;
}

.popup-btn {
    display: block;
    margin-top: auto;
    align-self: center;
    background-color: #003566;
    color: white;   
    border: none;
    padding: 7px 45px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bolder;
    box-shadow: rgba(0, 0, 0, 0.484) 0px 2px 3px -1px;
    margin-top: 5%;
}

.settings-select {
    background-color: #FFFFFF;
    color: #333333;
    border: #003566cc solid 1px;
    border-radius: 15px;
    width: 95%;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.484) 0px 2px 4px -1px;
    font-family: Poppins, sans-serif;
}

.popup-form input[type=text], .popup-form input[type=password], input[id=name], input[id=username]  {
    background-color: white;
    color: black;
    padding: 8px;
    border-radius: 15px;
    width: 100%;
    margin-bottom: 10px;
    border: #003566cc solid 1px;
    box-shadow: rgba(0, 0, 0, 0.484) 0px 2px 4px -1px;
    font-family: Poppins, sans-serif;
}

.popup-toggle-password{
    position: absolute;
    right: 20px;
    top: 82%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: #555;
}