.manage-page {
  background: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.manage-content {
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  gap: 20px; 
}

.manage-card {
  background: #ffffff;
  height: 75vh;
  border-radius: 12px;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-top: 5px;
}

.header-center {
  display: flex;
  align-items: center;
  gap: 50px;
}

.card-header {
  background: rgb(250, 204, 21, 0.4);
  padding: 12px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.card-header h2 {
  font-size: 20px;
  font-weight: 500;
  margin: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  white-space: nowrap;
}

.manage-header-title {
  color:#003566;
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0;
  font-size: 17px;
  font-weight: 500;
  white-space: nonwrap;
}

.page-count {
  font-size: 14px;
  font-weight: 400;
  color: #666;
}

.table-wrapper {
  flex: 1;
  overflow-y: auto;
  overflow-x: auto;
}

.data-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;
}

.data-table th,
.data-table td {
  padding: 12px;
  text-align: center;
  word-break: break-word;
  color: #333;
}

.data-table th {
  border-bottom: 1px solid #eee;
  font-weight: 600;
}

.empty-state {
  padding: 40px;
  color: #777;
}

.action-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-group {
  display: flex;
  gap: 20px;
}

.btn {
  padding: 10px 18px;
  border-radius: 8px;
  border: none;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s ease;
}

.btn-delete {
  background: #9e3b3b;
  color: white;
  padding: 12px 60px;
}

.btn-delete:hover {
  background: #ba2f2f;
}

.btn-cancel {
  background: #003566;
  color: white;
  width: 10%;
}

.btn-cancel:hover {
  background: #0e5495;
}

.btn.btn-delete:disabled {
  opacity: 0.5 !important;
  cursor: not-allowed !important;
  background-color: #6a6a6a !important;
  color: #eee !important;
}

.table-nav {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.nav-btn {
  padding: 0.3rem 0.6rem;
  color: #003566ca; 
  font-size: 0.9rem;
  cursor: pointer;
  background-color:transparent;
}
