.scanner-root {
    background-color: #F0F0F0;
    height: 100vh;
    width: 100vw;
}

.scanner-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
    margin: 30px;
}

.scanner-select {
    justify-content: center;
    align-items: center;
    display: flex;
}

.select-btn {
    background-color: #003566;
    color: white;
    border: none;
    padding: 10px 55px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bolder;
    margin: 25px;
    display: block;
    box-shadow: rgba(0, 0, 0, 0.484) 0px 2px 3px -1px;
}

.card {
    background-color: #f7f3ea;
    width: 100%;
    height: 75vh;
    margin: 10px;
    padding: 25px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
    overflow-y: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-title {
    background-color: #083b6d;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    width: 100%;
    text-align: center;
}

.label {
    font-size: 14px;
    color: #333333;
    margin-bottom: 15px;
}

.line {
    height: 2px;
    width: 70%;
    background-color: #facc15;
    margin: 10px auto 25px auto;
}

.btn {
    background-color: #083b6d;
    color: white;
    border: none;
    padding: 10px 35px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

.btn:hover {
  background-color: #0a4b8a;
}

.checkbox-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    margin-bottom: 25px;
    font-size: 14px;
    text-align: left;
    color: #003566;
}

.checkbox-group input[type="checkbox"] {
    accent-color: #4CAF50;
}
