.scanner-root {
    background-color: #F0F0F0;
    height: 100vh;
    width: 100vw;
}

.scanner-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
    margin: 30px;
}

.scanner-select {
    justify-content: center;
    align-items: center;
    display: flex;
}

.select-btn {
    background-color: #003566;
    color: white;   
    border: none;
    padding: 10px 55px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bolder;
    margin: 25px;
    display: block;
    box-shadow: rgba(0, 0, 0, 0.484) 0px 2px 3px -1px;
}

.rescan-btn, .export-btn {
    background-color: #003566;
    color: white;   
    border: none;
    padding: 10px 40px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bolder;
    margin: 25px;
    box-shadow: rgba(0, 0, 0, 0.484) 0px 2px 3px -1px;
    margin-left: auto;
    margin-right: auto;
}

.btn-group {
    display: flex;
    justify-content: center;
}

.fix-btn {
    background-color: #FACC1566;
    color: white;   
    border: none;
    padding: 10px 55px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bolder;
    margin: 25px;
    display: block;
    box-shadow: rgba(0, 0, 0, 0.484) 0px 2px 3px -1px;
    margin-left: auto;
    margin-right: auto;
}

.card-header{
    background-color: rgb(250, 204, 21, 0.4);
    color: #333333;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    margin: 0;
    width: 100%;
    text-align: center;
}

.card-header-client{
    background-color:rgb(250, 204, 21, 0.4);
    color: #333333;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    margin: 0;
    width: 100%;
    text-align: center;
}

.card-scanner-header{
    background-color: rgb(250, 204, 21, 0.4);
    color: #333333;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    margin: 0;
    width: 100%;
    text-align: center;
}

.card {
    background-color: #ffffff;
    width: 100%;
    height: 75vh;
    margin: 10px;
    padding: 0%;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-title {
    background-color: #083b6d;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    width: 100%;
    text-align: center;
}

.label {
    font-size: 14px;
    color: #333333;
    margin-bottom: 15px;
}

.line {
    height: 2px;
    width: 70%;
    background-color: #facc15;
    margin: 10px auto 25px auto;
}

.btn {
    background-color: #083b6d;
    color: white;
    border: none;
    padding: 10px 35px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

.btn:hover {
  background-color: #0a4b8a;
}

.checkbox-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    margin-bottom: 25px;
    font-size: 14px;
    text-align: left;
    color: #003566;
}

.checkbox-group input[type="checkbox"] {
    accent-color: #003566;
}

.MuiTableCell-root {
    font-family: 'Poppins', sans-serif !important;
}

.MuiTableCell-head { /* Header */
    background-color: rgb(250, 204, 21, 0.4);
    padding: 25px;
}

.table-row:hover { /* Row Hover Effect */
    transition: background-color 0.3s;
    background-color: #e1e1e1;
}

.table-row { /* Table Row Styling */
    background-color: #ffffff;
}

.table-row td { /* Table Cell Styling */
    border-bottom: 1px solid #e0e0e0; 
}

.icon-cell {
    width: 40px;
}

button:focus {
    outline: none;
}

.MuiTypography-root {
    font-family: 'Poppins', sans-serif !important;
    font-size: 13px !important;
}

.expanded-row td { /* Expanded Row Styling */
    padding: 0;
    border-bottom: 1px solid #ffffff; 
    font-size: 13px;
}

.expanded-cell {
    padding: 0;
}

.inner-table {
    width: 100%;
    padding: 0;
    border-collapse: collapse;
}

.inner-table th, /* Inner Table Header */
.inner-table td { /* Inner Table Cell */
    border: 1px solid rgba(40, 100, 159, 0.116);
    padding: 10px;
    font-family: 'Poppins', sans-serif;
}

.inner-header th {
    background-color: #f7f3ea;
    font-weight: 600;
}

.inner-row:nth-child(even) {
    background-color: #f7f3ea;
}

.conflict-count{
    color: #e63946; 
    font-weight: 600;
    font-size: 18px;
    
}

.swal-big {
    font-size: 16px;      
    border-radius: 12px;   
}

.swal-poppins select {
    font-family: 'Poppins', sans-serif !important;
}

.select-input{
    width: 80%;
    font-family: 'Poppins', sans-serif !important;
    border-color: #333333;
}
.select-input:focus{
    box-shadow: none;
    border-color: #333333;
}
.select-btn:disabled{
  opacity:.5;
  cursor:not-allowed;
}
.no-conflict-box {
  background-color: #e6f9f0;
  margin-top: 15px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.08);
  font-weight: 600;
  font-size: 16px;
}
.btn-group {
    display: flex;
    gap: 30px;              
    justify-content: center; 
    align-items: center;
    margin-top: 15px;
}

