* {
    box-sizing: border-box;
}

.settings-root {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.settings-container {
    background-color: #F0F0F0;
    flex: 1;
    display: flex;
    padding: 40px;
    gap: 40px;
}

.settings-left {
    flex: 0;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    display: flex;
    gap: 20px;
    text-align: center;
}

.settings-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.left-container {
    flex: 1;
    background-color: #FFFFFF;
    border-radius: 12px;
    padding: 40px;
    width: 100%;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
}

.activity-log-container {
    flex: 1;
    background-color: #FFFFFF;
    border-radius: 12px;
    width: 100%;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
}

.card-header{
    background-color: rgb(250, 204, 21, 0.4);
    color: #333333;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    margin: 0;
    width: 100%;
    text-align: center;
}

.settings-label {
    font-size: 14px;
    color: #333333;
    margin-bottom: 15px;
}

.radio-group {
    display: flex;
    gap: 60px;
    justify-content: center;
    margin-top: 10%;
    padding: 20px;
}

.radio-button-label {
    display: flex;
    font-size: 15px;
    color: #333333;
}

.settings-btn {
    display: block;
    margin: 70px auto;
    background-color: #003566;
    color: white;   
    border: none;
    padding: 10px 55px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bolder;
    box-shadow: rgba(0, 0, 0, 0.484) 0px 2px 3px -1px;
}

.settings-select {
    background-color: #FFFFFF;
    color: #33333389;
    border: 1px solid #333333;
    border-radius: 12px;
    width: 100%;
    padding: 15px;
    font-size: 16px;
    margin-top: 10%;
}

.activity-log-table-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.activity-logs{
    flex: 1;
    font-size: 14px;
    color: #333333;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.settings-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.pagination-btn {
    background-color: #003566;
    color: #FFFFFF;
}