*,
*::before,
*::after {
    box-sizing: border-box;
}

.settings-root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.settings-container {
    background-color: #F0F0F0;
    flex: 1;
    display: flex;
    padding: 40px;
    gap: 40px;
}

.settings-left {
    flex: 1;
    flex-direction: column;
    display: flex;
    gap: 20px;
}

.settings-right {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.left-container {
    flex: 1;
    background-color: #FFFFFF;
    border-radius: 12px;
    padding: 40px;
    width: 100%;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
}

.activity-log-container {
    flex: 1;
    background-color: #FFFFFF;
    border-radius: 12px;
    width: 100%;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
}

.settings-card-header{
    background-color: rgb(250, 204, 21, 0.4);
    color: #333333;
    padding: 2px;
    border-radius: 10px 10px 0 0;
    margin: 0;
    width: 100%;
    text-align: center;
}

.settings-label {
    font-size: 16px;
    color: #333333;
    margin-bottom: 15px;
    text-align: center;
    font-weight: bolder;
}

.settings-subLabel {
    color: #333333;
    font-size: 14px;
    margin: 20px 0 10px 0;
}

.radio-group {
    display: flex;
    gap: 60px;
    justify-content: center;
    padding: 10px;
}

.radio-button-label {
    display: flex;
    font-size: 15px;
    color: #333333;
}

.settings-btn {
    display: block;
    margin-top: auto;
    align-self: center;
    background-color: #003566;
    color: white;   
    border: none;
    padding: 10px 55px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bolder;
    box-shadow: rgba(0, 0, 0, 0.484) 0px 2px 3px -1px;
}

.settings-select {
    background-color: #FFFFFF;
    color: #333333;
    border: #003566cc solid 1px;
    border-radius: 15px;
    width: 95%;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.484) 0px 2px 4px -1px;
    font-family: Poppins, sans-serif;
}

.settings-form input[type=text], input[type=password] {
    background-color: white;
    color: black;
    padding: 15px;
    border-radius: 15px;
    width: 95%;
    margin-bottom: 10px;
    border: #003566cc solid 1px;
    box-shadow: rgba(0, 0, 0, 0.484) 0px 2px 4px -1px;
    font-family: Poppins, sans-serif;
}

.settings-toggle-password{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: #555;
}

.activity-log-table-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.activity-logs{
    flex: 1;
    font-size: 14px;
    color: #333333;
    padding: 10px;
}

.activity-logs th {
    border-bottom: 1px solid #eee;
}

.empty-label {
    text-align: center;
    vertical-align: middle;
}

.settings-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-left: 15px;
}

.pagination-btn {
    background-color: #e8e8e85b;
    color: #003566;
    font-size: 12px;
    padding: 5px 10px;
}
